@tailwind base;
@tailwind components;
@tailwind utilities;

.viewBox {
  width: 400px;
  height: 400px;
  background-color: 'blue';
}

.bg-color-ruk{
  background-color: #754183;
}

.text-color-ruk{
  color: #754183
}